/* Pumpkin color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-text-selection-color: rgba(210, 122, 1, 0.25);
    --pico-primary: #9c5900;
    --pico-primary-background: #ff9500;
    --pico-primary-underline: rgba(156, 89, 0, 0.5);
    --pico-primary-hover: #7a4400;
    --pico-primary-hover-background: #e48500;
    --pico-primary-focus: rgba(210, 122, 1, 0.25);
    --pico-primary-inverse: #000;
    --pico-switch-color: var(--pico-secondary-hover);
}

/* Pumpkin color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-text-selection-color: rgba(228, 133, 0, 0.1875);
        --pico-primary: #e48500;
        --pico-primary-background: #ff9500;
        --pico-primary-underline: rgba(228, 133, 0, 0.5);
        --pico-primary-hover: #ffa23a;
        --pico-primary-hover-background: #ffa23a;
        --pico-primary-focus: rgba(228, 133, 0, 0.25);
        --pico-primary-inverse: #000;
        --pico-switch-color: var(--pico-background-color);
    }
}

/* Pumpkin color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
    --pico-text-selection-color: rgba(228, 133, 0, 0.1875);
    --pico-primary: #e48500;
    --pico-primary-background: #ff9500;
    --pico-primary-underline: rgba(228, 133, 0, 0.5);
    --pico-primary-hover: #ffa23a;
    --pico-primary-hover-background: #ffa23a;
    --pico-primary-focus: rgba(228, 133, 0, 0.25);
    --pico-primary-inverse: #000;
    --pico-switch-color: var(--pico-background-color);
}

#badge {
    transition: transform 3s ease
}

#badge.moved {
    transform: translateX(-30px);
}

#badge.notmoved {
    transform: translateX(0px);
}

.bignumber {
    font-size: 130px;
    text-align: center;

}

.mediumnumber {
    font-size: 50px;
}

.hide {
    display: none;
}

.timercounter {
    width: 200px;
}

input#timeCounter {
    height: fit-content;
    width: 300px;
}

/* Machine Menu/Images */

.image-button {
    transition: transform 0.1s ease;
    width: 100%;

}

.image-button img {
    border: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.image-button span {
    color: white;
    background-color: black;
    font-size: 18px;
    justify-content: center;
}

.image-button:hover {
    transform: translateY(10px);
}

.image-button:active {
    transform: translateY(50px);
}

/*
@media (max-width: 576px) {
    .machine_menu {
        background-color: red;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }

    .image-button {
        width: 150px;
    }

    .image-button span {
        color: white;
        background-color: black;
        font-size: 10px;
    }
}

/* NAVBAR CSS */
/*
@media (max-width: 768px) {
    .machine_menu {
        background-color: green;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }

    .image-button {
        background-color: red;
        width: 100px;
    }
    
    .image-button span {
        color: white;
        background-color: black;
        font-size: 10px;
    }
}
*/

/* CASH CSS */
.monnaie img{
    height: auto;
    max-width: none;
}

@media (max-width: 768px) {
    .monnaie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* pour centrer les images */
        gap: 0px; /* espace entre les images */
    }

    .monnaie img {
        height:auto;
        max-height:80px;
    }
}

/* NAVBAR CSS */
nav {
    justify-content: center;
    font-size:30px;
}
nav a {
    padding-left:30px;
}

@media (max-width: 960px) {
    nav {
        font-size:25px;
    }
    nav a {
        padding-left:10px;
    }
}

@media (max-width: 720px) {
    nav {
        font-size:20px;
    }
    nav a {
        padding-left:0px;
    }
}

@media (max-width: 520px) {
    nav {
        font-size:15px;
    }
    nav a {
        padding-left:0px;
    }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}




